
*{
	margin: 0;
	padding: 0;
	
}

body{
	font-family: 'Century Gothic';
}

header {
	background-image: url(imagenes/banerr.jpg);
    background-size:cover;
    width: 100%;
    height: 400px;
	 /* altura del encabezado */
	
}

header .logo {
    float: left;
    width: 200px;
    margin-top: 20px;
    margin-left: 30px;
    

}

nav{
	max-width: 100%;
	margin: auto;
	background-color: #333;
	font-size: 20px;
}
.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menu-horizontal  li{
	width: 340px;
}
.menu-horizontal  li  a{
	display: block;
	padding: 30px ;
	color: white;
	text-decoration: none;

}
.menu-horizontal li:hover{
	background-color: rgb(219, 121, 211);
}

.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: rgba(0, 0, 0, .5);
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: rgb(221, 186, 112);
}

.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}








/*==========================================*/

.container {
	background-color: black;
	color: white;
	display: flex;
	align-items: center;
	margin:0 20px;
}
 p {
	flex: 1;
	text-align: justify;
	margin-right: 20px;
	margin-left: 25px;
	font-size: larger;
	color: #fff;
}

img {
	margin-right: 20px;
	max-width: 30%	
}


footer{
	background-color: #363636;
	padding: 20px;
	margin-top: 50px;
}
